h1 {
    font-size: 23px !important;
}
h2 {
    font-size: 18px !important;
}
a {
    color: #555555 !important;
}
form {
    width: 40%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
}
#header {
    margin: 7px;
    height: 10vh;
    padding: 7px;
    min-height: 70px;
    background-color: #ececec;
}
#footer {
    margin: 7px;
    height: 5vh;
    padding: 7px;
    min-height: 40px;
    background-color: #ececec;
}
#content {
    margin: 7px;
    padding: 7px;
    height: 80vh;
}
.nav li{
    margin-left: 10px;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
#crystal-ball {
    display: inline-block;
}
#result {
    width: 59%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
}
#result-content {
    display: block;
    float: right;
    height: 100%;
    width: 75%;
    padding-top: 5%;
}
#result-guess {
    width: 100%;
    display: inline-block;
}
#field_data_input {
    width: 100%;
}
#result-positive {
    background-color: #165a26;
    border-radius: 3px;
    color: #ffffff;
    padding: 2px;
    margin: 2px;
}
#result-negative {
    background-color: #d84141;
    border-radius: 3px;
    color: #000000;
    padding: 2px;
    margin: 2px;
}
#origin-input {
    border-color: #424242;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 10px;
    font-style: italic;
    color: #424242;
    padding: 2px;
}
#error-input {
    border-color: #d84141;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    color: #424242;
    padding: 2px;
}
#loader {
    display: inline-block;
    border: 4px solid #ececec;
    border-top: 4px solid #424242;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: loader 2s linear infinite;
}
#loader-container {
    vertical-align: middle;
    padding-left: 7px;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}