<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <title>{% block title %}{% endblock %} - NLP Sentiment Analysis</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <h1>NLP Sentiment Analysis</h1>

            <ul class="nav nav-pills">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                {% if config['APP_CONFIG_MODE'] == 'dev' %}
                    <li class="active"><a href="{{ url_for('train') }}">Train</a></li>
                {% endif %}
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Guess <b class="caret"></b></a>
                  <ul class="dropdown-menu" id="menu-guess">
                    <li><a href="{{ url_for('guess', typ='user') }}">Manual input</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('guess', typ='twitter') }}">Twitter API</a></li>
                    <li><a href="#">Other APIs</a></li>
                  </ul>
                </li>
            </ul>
        </div>
        <div id="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <div class="message_flash">{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2020 by <a href="http://weare.us">us</a>.
            {% endblock %}
        </div>
    </body>
</html>