{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="index">
        The NLP Sentiment Analysis project is a sentiment detection system through English, textual and natural language inputs.
        Its aim is all about guessing whether the essence of a text is positive or negative, based on a ML model offline trained with static datasets.
        To do so, there are two options:
        <ul>
            <li>One can either enter some text manually</li>
            <li>Or type some keywords in order to get the very last tweet containing these keywords via the Tweeter API</li>
        </ul>
        It is also planned to play with other APIs in a near future.
        <br/>
        <br/>
        Enjoy guessing!
    </div>
{% endblock %}