{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="index">
        The NLP Sentiment Analysis project is a sentiment detection through English, textual and natural language inputs.
        Its aim is all about guessing whether the essence of a text is positive or negative, based on a ML model trained with static datasets.
        In order to do so, one can either enter some text manually, or type some keywords in order to get the very last tweet containing these keywords via the Tweeter API.
        It is also planned to play with other APIs in a near future.
        <br/>
        <br/>
        Enjoy guessing!
    </div>
{% endblock %}