{% extends "base.html" %}
{% block title %}User Input{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block content %}
    <div>
        <!-- #TODO replace with
        <h2>{{ model_chooser_info.name }} is ready to guess with an f1 score of {{ '%0.2f'|format(100*model_chooser_info.score)  }})</h2> -->
        <h2>Try guessin' with <b>{{ model_chooser_info.name }}</b> via <b>{{ form['field_type_input'].label }}</b><!-- (accuracy: {{ '%0.2f'|format(100*model_chooser_info.score)  }}%) --></h2>
    </div>
    <form action="{{ url_for('guess', typ='user') }}" method="post">
        {% if form.errors.items() %}
            <div class="error-form">
                {% for field, errors in form.errors.items() %}
                    <div class="error-item">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="input text" id="input-guess">
            {{ form["field_data_input"] }}
        </div>
        {{ form["field_type_input"] }}
        <button type="button" id="submit">Guess!</button>
        <!-- <div class="input submit">
            {{ form["button_submit"] }}
        </div> -->
        <!-- {{ form.csrf_token }} -->
        {{ form.hidden_tag() }}
    </form>
    <div>
        <div id='result'></div>
        <!-- model score : {% if score is defined %} {{ score }} {% endif %} -->
    </div>
{% endblock %}